a {
  display: block;
  margin-top: 100vh;
}
.underline {
  text-decoration: underline;
}

.blue {
  background-color: blue;
}

.white {
  color: white;
}

.green {
  color: white;
  background-color: green;
}

.red {
  color: white;
  background-color: red;
}

.black {
  color: white;
  background-color: black;
}
