.underline {
  text-decoration: underline;
}

.blue {
  background-color: blue;
}

.white {
  color: white;
}

.green {
  color: white;
  background-color: green;
}

.black {
  color: white;
  background-color: black;
}
